version: "3.9"
services:
  backend:
    build: ./backend
    container_name: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      # - PYTHONUNBUFFERED=1
          command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload #for development


  frontend:
      image: react-frontend:latest
      container_name: frontend_dev
      ports:
        - "3000:3000"
      depends_on:
        backend:
          condition: service_started